/* 登录页 */
@import '../../../node_modules/antd/dist/antd.css';

html,
body {
  height: 100%;
  width: 100%;
  /* padding-top: 80px; */
  box-sizing: border-box;
}

.loginPage {
  width: 100%;
  border-top: 1px solid transparent;

  height: 100%;
  background-image: url(../../images/223898964.jpeg);
  background-size: 100% 100%;
  background-attachment: fixed;
}
.login-form h1 {
  margin: 40px 0;
  text-align: center;
}
.login-container {
  border: 1px solid #ccc;
  margin: 150px 0 0 50%;
  transform: translateX(-50%);
  width: 500px;
  height: 360px;
  background-color: #fff;
}
.login-form {
  max-width: 320px;
  margin: 50px auto;
}
.login-form-button {
  width: 320px;
}
